<article>
  Lorem ipsum dolor sit amet,
  <button class="tooltip__control" aria-controls="tooltip__content--1">
    consectetur
  </button>
  <div
    class="tooltip__content hidden"
    aria-hidden="true"
    id="tooltip__content--1"
  >
    <button
      class="button--close tooltip__close"
      tabindex="0"
      aria-label="Close"
    >
      Close Icon
    </button>
    <h4>Tooltip Heading 1</h4>
    <p>
      The purpose of lorem ipsum is to create a natural looking block of text
      (sentence, paragraph, page, etc.) that doesn't distract from the layout. A
      practice not without controversy, laying out pages with meaningless filler
      text can be very useful when the focus is meant to be on design, not
      content.
    </p>
  </div>
  adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
  aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
  nisi ut
  <button class="tooltip__control" aria-controls="tooltip__content--2">
    aliquip
  </button>
  <div
    class="tooltip__content hidden"
    aria-hidden="true"
    id="tooltip__content--2"
  >
    <button
      class="button--close tooltip__close"
      tabindex="0"
      aria-label="Close"
    >
      Close Icon
    </button>
    <h4>Tooltip Heading 2</h4>
    <p>
      The purpose of lorem ipsum is to create a natural looking block of text
      (sentence, paragraph, page, etc.) that doesn't distract from the layout. A
      practice not without controversy, laying out pages with meaningless filler
      text can be very useful when the focus is meant to be on design, not
      content.
    </p>
  </div>
  ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
  velit esse cillum dolore eu fugiat nulla pariatur.
  <button class="tooltip__control" aria-controls="tooltip__content--3">
    Excepteur
  </button>
  <div
    class="tooltip__content hidden"
    aria-hidden="true"
    id="tooltip__content--3"
  >
    <button
      class="button--close tooltip__close"
      tabindex="0"
      aria-label="Close"
    >
      Close Icon
    </button>
    <h4>Tooltip Heading 3</h4>
    <p>
      The purpose of lorem ipsum is to create a natural looking block of text
      (sentence, paragraph, page, etc.) that doesn't distract from the layout. A
      practice not without controversy, laying out pages with meaningless filler
      text can be very useful when the focus is meant to be on design, not
      content.
    </p>
  </div>
  sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
  mollit anim id est laborum.
</article>
