<article>
  <!-- Tooltip Section 1 -->
  <section>
    <button class="tooltip__control" aria-controls="tooltip__content--1">
      Tooltip 1
    </button>
    <div
      class="tooltip__content hidden"
      aria-hidden="true"
      id="tooltip__content--1"
    >
      <button
        class="button--close tooltip__close"
        tabindex="0"
        aria-label="Close"
      >
        Close Icon
      </button>
      <h4>Tooltip Heading 1</h4>
      <p>Tooltip content</p>
    </div>
  </section>
  <!-- End Tooltip Section 1 -->

  <!-- Tooltip Section 2 -->
  <section>
    <button class="tooltip__control" aria-controls="tooltip__content--2">
      Tooltip 2
    </button>
    <div
      class="tooltip__content hidden"
      aria-hidden="true"
      id="tooltip__content--2"
    >
      <button
        class="button--close tooltip__close"
        tabindex="0"
        aria-label="Close"
      >
        Close Icon
      </button>
      <h4>Tooltip Heading 2</h4>
      <p>Tooltip content</p>
    </div>
  </section>
  <!-- End Tooltip Section 2 -->

  <!-- Tooltip Section 3 -->
  <section>
    <button class="tooltip__control" aria-controls="tooltip__content--3">
      Tooltip 3
    </button>
    <div
      class="tooltip__content hidden"
      aria-hidden="true"
      id="tooltip__content--3"
    >
      <button
        class="button--close tooltip__close"
        tabindex="0"
        aria-label="Close"
      >
        Close Icon
      </button>
      <h4>Tooltip Heading 3</h4>
      <p>Tooltip content</p>
    </div>
  </section>
  <!-- End Tooltip Section 3 -->
</article>
